
    .comments ul ul {
        margin-left: 60px;
    }

    .comments .comment img {
        margin-right: 20px;
    }

    .comments .comment {
        padding: 6px;
    }

        .comments .comment:hover {
            background: #eee;
        }

    .panel-green {
        border-color: #5cb85c;
    }

        .panel-green .panel-heading {
            border-color: #5cb85c;
            color: #fff;
            background-color: #5cb85c;
        }

        .panel-green .panel-heading {
            border-color: #5cb85c;
            color: #fff;
            background-color: #5cb85c;
        }

    .panel-primary {
        border-color: #337ab7;
    }

        .panel-primary > .panel-heading {
            color: #fff;
            background-color: #337ab7;
            border-color: #337ab7;
        }

        .panel-primary a {
            color: #337ab7;
            font-weight: bold;
        }

    .panel-red {
        border-color: #d9534f;
    }

        .panel-red .panel-heading {
            border-color: #d9534f;
            color: #fff;
            background-color: #d9534f;
        }

        .panel-red a {
            color: #d9534f;
            font-weight: bold;
        }

    .huge {
        font-size: 20px;
    }

.hrclass{
    margin-top:5px !important;
    margin-bottom:5px;
}

.pchat hr{
     margin-top:5px !important;
    margin-bottom:5px;
}

.pchat p{
    font-size:16px;
}

.imgSize{
    width:50px;
    height:50px;
}
@media(min-width:768px) {
    .hrclass {
        margin-top: 21px !important;
        margin-bottom: 21px !important;
    }
    .pchat hr{
     margin-top:21px !important;
     margin-bottom:21px !important;
  }
    .imgSize
    {
    width:100px;
    height:100px;
    }
}

.username{
    font-size:18px !important;
}

strong a{
    text-decoration:underline;
    color:black;

}

footer strong a{
    text-decoration:none;
    

}
#mypost .row{
    margin-top:20px;margin-bottom:20px;
}