@{
    ViewBag.Title = "Admin - Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container fill img-rounded">


    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10 personal-info">
            <h1>Home</h1>
            <hr>
            <br />
            
      
        </div>
        <div class="col-md-1"></div>
    </div>
</div>
