@{
    ViewBag.Title = "Mezo Experts";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<header>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="intro-text">
                    <span class="name">Mezo Experts</span>
                    <hr class="star-light">
                    <span class="skills">Get help with your Questions</span>
                </div>
            </div>
        </div>
        <form role="form" class="QuestionBox col-lg-6 col-lg-offset-3">
            <div class="form-group">
                <textarea class="form-control" placeholder="Ask a question."></textarea>
            </div>
            <button type="submit" class="btn btn-success">Get Help Now</button>

        </form>
    </div>
   
</header>


@section scripts{
 <script>
     var error = "@ViewBag.error";
     if (error == "login") {
         $('#loginNewModal').modal('show');
     }
     else if (error == "registerT") {
         $('#registerTutorModal').modal('show');
     }
     else if (error == "registerS") {
         $('#registerStudentModal').modal('show');
     }

</script>
    
 }