<div class="modal fade" id="sessionClose" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body text-center">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h2>Session Closed</h2>
                        <hr class="star-primary">


                        <Center>
                            <div class="form-group">
                                <div class="input-group">
                                    Session has been closed by student.
                                </div>
                             </div> 
                         </Center><!-- /.form-group -->

                            <div class="row">
                                <div class="col-xs-2"></div>
                                <div class="col-xs-8">
                                    <input type="submit" style="width:100px"  data-dismiss="modal" class="btn btn-success" value="Close" />
                                </div>
                               
                                <div class="col-xs-3"></div>
                            </div>

                        

                    </div>

                </div>


            </div>
        </div>

    </div>
</div>
