@{
    ViewBag.Title = "Forgot Password Confirmation";
}


<div class="container fill img-rounded">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <h1>@ViewBag.Title.</h1>
            <hr />
        </div>
        <div class="col-md-1"></div>
    </div>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-6">

            <p>
                Please check your email to reset your password.
            </p>
        </div>
    </div>

</div>




	
